<h2 class="section-head">Friendlier Custom Icons</h2>
<p>We have created a mapping of the SF1 custom icons to friendlier classnames. For example you can use .s1icon-c-heart instead of .s1icon-c-1. This should make the markup a little more readable.</p>
<p>Mouse over to view CSS classes.</p>
<ul class="docs-icon-list">
  <li>
    <span class="s1icon s1icon-c-heart s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-c-heart</span>
  </li>
  <li>
    <span class="s1icon s1icon-c-fan s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-c-fan</span>
  </li>
  <li>
    <span class="s1icon s1icon-c-sun s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-c-sun</span>
  </li>
  <li>
    <span class="s1icon s1icon-c-hexagon s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-c-hexagon</span>
  </li>
  <li>
    <span class="s1icon s1icon-c-leaf s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-c-leaf</span>
  </li>
  <li>
    <span class="s1icon s1icon-c-triangle s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-c-triangle</span>
  </li>
  <li>
    <span class="s1icon s1icon-c-square s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-c-square</span>
  </li>
  <li>
    <span class="s1icon s1icon-c-diamond s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-c-diamond</span>
  </li>
  <li>
    <span class="s1icon s1icon-c-lightning s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-c-lightning</span>
  </li>
  <li>
    <span class="s1icon s1icon-c-moon s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-c-moon</span>
  </li>
  <li>
    <span class="s1icon s1icon-c-star s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-c-star</span>
  </li>
  <li>
    <span class="s1icon s1icon-c-circle s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-c-circle</span>
  </li>
  <li>
    <span class="s1icon s1icon-c-box s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-c-box</span>
  </li>
  <li>
    <span class="s1icon s1icon-c-hands s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-c-hands</span>
  </li>
  <li>
    <span class="s1icon s1icon-c-people s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-c-people</span>
  </li>
  <li>
    <span class="s1icon s1icon-c-bank s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-c-bank</span>
  </li>
  <li>
    <span class="s1icon s1icon-c-sack s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-c-sack</span>
  </li>
  <li>
    <span class="s1icon s1icon-c-edit s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-c-edit</span>
  </li>
  <li>
    <span class="s1icon s1icon-c-wrench s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-c-wrench</span>
  </li>
  <li>
    <span class="s1icon s1icon-c-airplane s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-c-airplane</span>
  </li>
  <li>
    <span class="s1icon s1icon-c-computer s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-c-computer</span>
  </li>
  <li>
    <span class="s1icon s1icon-c-telephone s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-c-telephone</span>
  </li>
  <li>
    <span class="s1icon s1icon-c-envelope s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-c-envelope</span>
  </li>
  <li>
    <span class="s1icon s1icon-c-building s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-c-building</span>
  </li>
  <li>
    <span class="s1icon s1icon-c-alarmclock s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-c-alarmclock</span>
  </li>
  <li>
    <span class="s1icon s1icon-c-flag s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-c-flag</span>
  </li>
  <li>
    <span class="s1icon s1icon-c-laptop s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-c-laptop</span>
  </li>
  <li>
    <span class="s1icon s1icon-c-smartphone s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-c-smartphone</span>
  </li>
  <li>
    <span class="s1icon s1icon-c-tablet s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-c-tablet</span>
  </li>
  <li>
    <span class="s1icon s1icon-c-dish s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-c-dish</span>
  </li>
  <li>
    <span class="s1icon s1icon-c-car s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-c-car</span>
  </li>
  <li>
    <span class="s1icon s1icon-c-factory s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-c-factory</span>
  </li>
  <li>
    <span class="s1icon s1icon-c-desk s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-c-desk</span>
  </li>
  <li>
    <span class="s1icon s1icon-c-bug s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-c-bug</span>
  </li>
  <li>
    <span class="s1icon s1icon-c-mic s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-c-mic</span>
  </li>
  <li>
    <span class="s1icon s1icon-c-train s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-c-train</span>
  </li>
  <li>
    <span class="s1icon s1icon-c-bridge s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-c-bridge</span>
  </li>
  <li>
    <span class="s1icon s1icon-c-camera s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-c-camera</span>
  </li>
  <li>
    <span class="s1icon s1icon-c-telescope s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-c-telescope</span>
  </li>
  <li>
    <span class="s1icon s1icon-c-creditcard s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-c-creditcard</span>
  </li>
  <li>
    <span class="s1icon s1icon-c-cash s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-c-cash</span>
  </li>
  <li>
    <span class="s1icon s1icon-c-treasurechest s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-c-treasurechest</span>
  </li>
  <li>
    <span class="s1icon s1icon-c-jewel s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-c-jewel</span>
  </li>
  <li>
    <span class="s1icon s1icon-c-hammer s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-c-hammer</span>
  </li>
  <li>
    <span class="s1icon s1icon-c-ticket s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-c-ticket</span>
  </li>
  <li>
    <span class="s1icon s1icon-c-stamp s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-c-stamp</span>
  </li>
  <li>
    <span class="s1icon s1icon-c-knight s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-c-knight</span>
  </li>
  <li>
    <span class="s1icon s1icon-c-trophy s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-c-trophy</span>
  </li>
  <li>
    <span class="s1icon s1icon-c-cd s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-c-cd</span>
  </li>
  <li>
    <span class="s1icon s1icon-c-bigtop s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-c-bigtop</span>
  </li>
  <li>
    <span class="s1icon s1icon-c-apple s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-c-apple</span>
  </li>
  <li>
    <span class="s1icon s1icon-c-football s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-c-football</span>
  </li>
  <li>
    <span class="s1icon s1icon-c-bell s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-c-bell</span>
  </li>
  <li>
    <span class="s1icon s1icon-c-boat s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-c-boat</span>
  </li>
  <li>
    <span class="s1icon s1icon-c-books s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-c-books</span>
  </li>
  <li>
    <span class="s1icon s1icon-c-bottle s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-c-bottle</span>
  </li>
  <li>
    <span class="s1icon s1icon-c-buildingblock s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-c-buildingblock</span>
  </li>
  <li>
    <span class="s1icon s1icon-c-caduceus s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-c-caduceus</span>
  </li>
  <li>
    <span class="s1icon s1icon-c-can s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-c-can</span>
  </li>
  <li>
    <span class="s1icon s1icon-c-umbrella s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-c-umbrella</span>
  </li>
  <li>
    <span class="s1icon s1icon-c-castle s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-c-castle</span>
  </li>
  <li>
    <span class="s1icon s1icon-c-chalkboard s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-c-chalkboard</span>
  </li>
  <li>
    <span class="s1icon s1icon-c-chip s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-c-chip</span>
  </li>
  <li>
    <span class="s1icon s1icon-c-compass s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-c-compass</span>
  </li>
  <li>
    <span class="s1icon s1icon-c-cup s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-c-cup</span>
  </li>
  <li>
    <span class="s1icon s1icon-c-dice s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-c-dice</span>
  </li>
  <li>
    <span class="s1icon s1icon-c-gears s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-c-gears</span>
  </li>
  <li>
    <span class="s1icon s1icon-c-globe s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-c-globe</span>
  </li>  
  <li>
    <span class="s1icon s1icon-c-guitar s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-c-guitar</span>
  </li>
  <li>
    <span class="s1icon s1icon-c-saw s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-c-saw</span>
  </li>
  <li>
    <span class="s1icon s1icon-c-headphones s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-c-headphones</span>
  </li>
  <li>
    <span class="s1icon s1icon-c-helicoptor s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-c-helicoptor</span>
  </li>
  <li>
    <span class="s1icon s1icon-c-highwaysign s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-c-highwaysign</span>
  </li>
  <li>
    <span class="s1icon s1icon-c-hotairballoon s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-c-hotairballoon</span>
  </li>
  <li>
    <span class="s1icon s1icon-c-ipphone s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-c-ipphone</span>
  </li>
  <li>
    <span class="s1icon s1icon-c-keys s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-c-keys</span>
  </li>
  <li>
    <span class="s1icon s1icon-c-lock s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-c-lock</span>
  </li>    
  <li>
    <span class="s1icon s1icon-c-map s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-c-map</span>
  </li>
  <li>
    <span class="s1icon s1icon-c-tapemeasure s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-c-tapemeasure</span>
  </li>
  <li>
    <span class="s1icon s1icon-c-motorcycle s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-c-motorcycle</span>
  </li>
  <li>
    <span class="s1icon s1icon-c-musicnote s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-c-musicnote</span>
  </li>
  <li>
    <span class="s1icon s1icon-c-whistle s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-c-whistle</span>
  </li>
  <li>
    <span class="s1icon s1icon-c-pencil s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-c-pencil</span>
  </li>
  <li>
    <span class="s1icon s1icon-c-presenter s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-c-presenter</span>
  </li>
  <li>
    <span class="s1icon s1icon-c-forsale s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-c-forsale</span>
  </li>
  <li>
    <span class="s1icon s1icon-c-redcross s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-c-redcross</span>
  </li>
  <li>
    <span class="s1icon s1icon-c-safe s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-c-safe</span>
  </li>
  <li>
    <span class="s1icon s1icon-c-sailboat s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-c-sailboat</span>
  </li>
  <li>
    <span class="s1icon s1icon-c-saxophone s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-c-saxophone</span>
  </li>
  <li>
    <span class="s1icon s1icon-c-scales s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-c-scales</span>
  </li>
  <li>
    <span class="s1icon s1icon-c-shield s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-c-shield</span>
  </li>
  <li>
    <span class="s1icon s1icon-c-ship s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-c-ship</span>
  </li>
  <li>
    <span class="s1icon s1icon-c-shoppingcart s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-c-shoppingcart</span>
  </li>
  <li>
    <span class="s1icon s1icon-c-stethoscope s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-c-stethoscope</span>
  </li>
  <li>
    <span class="s1icon s1icon-c-stopwatch s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-c-stopwatch</span>
  </li>
  <li>
    <span class="s1icon s1icon-c-streetsign s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-c-streetsign</span>
  </li>
  <li>
    <span class="s1icon s1icon-c-thermometer s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-c-thermometer</span>
  </li>
  <li>
    <span class="s1icon s1icon-c-van s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-c-van</span>
  </li>
  <li>
    <span class="s1icon s1icon-c-tv s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-c-tv</span>
  </li>
  <li>
    <span class="s1icon s1icon-c-tvwidescreen s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-c-tvwidescreen</span>
  </li>
</ul>