<h2 class="section-head">Sizes</h2>
<p><span class="s1icon s1icon-s-account s1icon-xs"></span> .s1icon-xs</p>
<p><span class="s1icon s1icon-s-account"></span> .s1icon-sm (default)</p>
<p><span class="s1icon s1icon-s-account s1icon-m"></span> .s1icon-m</p>
<p><span class="s1icon s1icon-s-account s1icon-lg"></span> .s1icon-lg</p>
<p><span class="s1icon s1icon-s-account s1icon-xl"></span> .s1icon-xl</p>
<p><span class="s1icon s1icon-s-account s1icon-xxl"></span> .s1icon-xxl</p>