<h2 class="section-head">Standard Icons</h2>
<p>Mouse over to view CSS classes.</p>
<ul class="docs-icon-list">
  <li>
    <span class="s1icon s1icon-s-account s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-s-account</span>
  </li>
  <li>
    <span class="s1icon s1icon-s-campaign s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-s-campaign</span>
  </li>
  <li>
    <span class="s1icon s1icon-s-campaign-members s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-s-campaign-members</span>
  </li>
  <li>
    <span class="s1icon s1icon-s-case s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-s-case</span>
  </li>
  <li>
    <span class="s1icon s1icon-s-contact s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-s-contact</span>
  </li>
  <li>
    <span class="s1icon s1icon-s-contract s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-s-contract</span>
  </li>
  <li>
    <span class="s1icon s1icon-s-dashboard s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-s-dashboard</span>
  </li>
  <li>
    <span class="s1icon s1icon-s-lead s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-s-lead</span>
  </li>
  <li>
    <span class="s1icon s1icon-s-opportunity s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-s-opportunity</span>
  </li>
  <li>
    <span class="s1icon s1icon-s-portal s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-s-portal</span>
  </li>
  <li>
    <span class="s1icon s1icon-s-product s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-s-product</span>
  </li>
  <li>
    <span class="s1icon s1icon-s-record s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-s-record</span>
  </li>
  <li>
    <span class="s1icon s1icon-s-solution s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-s-solution</span>
  </li>
  <li>
    <span class="s1icon s1icon-s-transcript s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-s-transcript</span>
  </li>
  <li>
    <span class="s1icon s1icon-s-avatar s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-s-avatar</span>
  </li>
  <li>
    <span class="s1icon s1icon-s-approval s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-s-approval</span>
  </li>
  <li>
    <span class="s1icon s1icon-s-apps s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-s-apps</span>
  </li>
  <li>
    <span class="s1icon s1icon-s-connected-apps-admins s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-s-connected-apps-admins</span>
  </li>
  <li>
    <span class="s1icon s1icon-s-calibration s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-s-calibration</span>
  </li>
  <li>
    <span class="s1icon s1icon-s-coaching s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-s-coaching</span>
  </li>
  <li>
    <span class="s1icon s1icon-s-drafts s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-s-drafts</span>
  </li>
  <li>
    <span class="s1icon s1icon-s-email s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-s-email</span>
  </li>
  <li>
    <span class="s1icon s1icon-s-event s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-s-event</span>
  </li>
  <li>
    <span class="s1icon s1icon-s-endorsement s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-s-endorsement</span>
  </li>
  <li>
    <span class="s1icon s1icon-s-feed s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-s-feed</span>
  </li>
  <li>
    <span class="s1icon s1icon-s-feedback s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-s-feedback</span>
  </li>
  <li>
    <span class="s1icon s1icon-s-file s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-s-file</span>
  </li>
  <li>
    <span class="s1icon s1icon-s-goals s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-s-goals</span>
  </li>
  <li>
    <span class="s1icon s1icon-s-groups s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-s-groups</span>
  </li>
  <li>
    <span class="s1icon s1icon-s-insights s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-s-insights</span>
  </li>
  <li>
    <span class="s1icon s1icon-s-link s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-s-link</span>
  </li>
  <li>
    <span class="s1icon s1icon-s-note s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-s-note</span>
  </li>
  <li>
    <span class="s1icon s1icon-s-people s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-s-people</span>
  </li>
  <li>
    <span class="s1icon s1icon-s-performance s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-s-performance</span>
  </li>
  <li>
    <span class="s1icon s1icon-s-photo s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-s-photo</span>
  </li>
  <li>
    <span class="s1icon s1icon-s-poll s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-s-poll</span>
  </li>
  <li>
    <span class="s1icon s1icon-s-post s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-s-post</span>
  </li>
  <li>
    <span class="s1icon s1icon-s-question-best s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-s-question-best</span>
  </li>
  <li>
    <span class="s1icon s1icon-s-question-feed s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-s-question-feed</span>
  </li>
  <li>
    <span class="s1icon s1icon-s-quotes s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-s-quotes</span>
  </li>
  <li>
    <span class="s1icon s1icon-s-record s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-s-record</span>
  </li>
  <li>
    <span class="s1icon s1icon-s-report s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-s-report</span>
  </li>
  <li>
    <span class="s1icon s1icon-s-recent s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-s-recent</span>
  </li>
  <li>
    <span class="s1icon s1icon-s-related-list s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-s-related-list</span>
  </li>
  <li>
    <span class="s1icon s1icon-s-scan-card s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-s-scan-card</span>
  </li>
  <li>
    <span class="s1icon s1icon-s-skill-entity s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-s-skill-entity</span>
  </li>
  <li>
    <span class="s1icon s1icon-s-social s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-s-social</span>
  </li>
  <li>
    <span class="s1icon s1icon-s-task s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-s-task</span>
  </li>
  <li>
    <span class="s1icon s1icon-s-thanks s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-s-thanks</span>
  </li>
  <li>
    <span class="s1icon s1icon-s-today s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-s-today</span>
  </li>
  <li>
    <span class="s1icon s1icon-s-canvas s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-s-canvas</span>
  </li>
  <li>
    <span class="s1icon s1icon-s-custom s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-s-custom</span>
  </li>
  <li>
    <span class="s1icon s1icon-s-default s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-s-default</span>
  </li>
  <li>
    <span class="s1icon s1icon-s-avatar-loading s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-s-avatar-loading</span>
  </li>
  <li>
    <span class="s1icon s1icon-s-groups-loading s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-s-groups-loading</span>
  </li>
  <li>
    <span class="s1icon s1icon-s-thanks-loading s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-s-thanks-loading</span>
  </li>
  <li>
    <span class="s1icon s1icon-s-files s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-s-files</span>
  </li>
  <li>
    <span class="s1icon s1icon-s-concur s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-s-concur</span>
  </li>
  <li>
    <span class="s1icon s1icon-s-dropbox s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-s-dropbox</span>
  </li>
  <li>
    <span class="s1icon s1icon-s-evernote s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-s-evernote</span>
  </li>
  <li>
    <span class="s1icon s1icon-s-answer-best s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-s-answer-best</span>
  </li>
  <li>
    <span class="s1icon s1icon-s-answer-private s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-s-answer-private</span>
  </li>
  <li>
    <span class="s1icon s1icon-s-answer-public s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-s-answer-public</span>
  </li>
  <li>
    <span class="s1icon s1icon-s-article s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-s-article</span>
  </li>
  <li>
    <span class="s1icon s1icon-s-case-change-status s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-s-case-change-status</span>
  </li>
  <li>
    <span class="s1icon s1icon-s-case-comment s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-s-case-comment</span>
  </li>
  <li>
    <span class="s1icon s1icon-s-case-email s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-s-case-email</span>
  </li>
  <li>
    <span class="s1icon s1icon-s-case-log-a-call s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-s-case-log-a-call</span>
  </li>    
  <li>
    <span class="s1icon s1icon-s-case-transcript s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-s-case-transcript</span>
  </li>
  <li>
    <span class="s1icon s1icon-s-team-member s1icon-xl"></span>
    <span class="s1icon-class">s1icon s1icon-s-team-member</span>
  </li>
</ul>