<h2 id="introduction">Introduction</h2>
<p>This is a Bootstrap based theme developed by the Salesforce.com Foundation&#39;s Business Applications team. The aim is to provide a solid and complete theme for Bootstrap that matches the <a href="http://sfdc-styleguide.herokuapp.com/">SFDC Salesforce1 styleguide</a>.</p>
<p>The general look and feel is inspired by the <a href="http://sfdc-styleguide.herokuapp.com/">SFDC Styleguide</a>. There is some intention of building theme variations for different application contexts (visualforce, salesforce1, chatter), but this work has not been done at this time.</p>
<p>The Proxima Nova Soft fonts are not included in this repository. To match the SFDC styles you will need to include this font in your page.</p>