<h2 id="getting-started">Getting Started</h2>
<p>To use the theme you just need to include the <code>dist/</code> folder in your project and include <code>bootstrap.css</code> or <code>bootstrap.min.css</code> in your page. For use inside of a VisualForce page you may need to use the namespaced CSS in <code>bootstrap-namespaced.css</code>.</p>
<p>You can download the theme using bower:</p>
<pre><code>bower install bootstrap-sf1</code></pre>
<p>Or you can <a href="https://github.com/SalesforceFoundation/bootstrap-sf1/archive/v0.1.0-beta.5.zip">download the zip</a>.</p>