<h1>Bootstrap SF1</h1>
<p>A Salesforce1 styled theme for Bootstrap</p>
<p>
  <a class="btn btn-primary btn-lg" href="https://github.com/SalesforceFoundation/bootstrap-sf1/archive/v0.1.0-beta.15.zip">
    <span class="s1utility s1utility-download"></span>
    Download <small>(v0.1.0-beta.15)</small>
  </a>
  <a class="btn btn-success btn-lg" href="https://github.com/SalesforceFoundation/bootstrap-sf1">
    View on Github
  </a>
</p>