<div class="row">
  <div class="col-xs-6">
      <ul>
        <li>Normal Unordered List</li>
        <li>Can Also Work
        <ul>
          <li>With Nested Children</li>
        </ul>
      </li>
      <li>Adds Bullets to Page</li>
    </ul>
  </div>
  <div class="col-xs-6">
    <ol>
      <li>Normal Ordered List</li>
      <li>Can Also Work
        <ol>
          <li>With Nested Children</li>
        </ol>
      </li>
      <li>Adds Bullets to Page</li>
    </ol>
  </div>
</div>