<div class="fn-sidebar affix-top" data-spy="affix" data-offset-top="380">
  <ul class="nav">
    <li><a href="#introduction">Introduction</a></li>
    <li><a href="#getting-started">Getting Started</a></li>
    <li><a href="#development">Development</a></li>
  </ul>
</div>