<h2 id="development">Development</h2>
<p>You will need:</p>
<ul>
  <li>Git</li>
  <li><a href="http://nodejs.org/download/">Node</a></li>
  <li><a href="http://bower.io">Bower</a></li>
  <li><a href="http://gruntjs.com">Grunt</a></li>
</ul>
<p>Things never to do:</p>
<ul>
  <li>Edit any CSS files in <code>dist/</code> directly</li>
  <li>Edit any html page in <code>pages/</code> or the <code>index.html</code> file directly</li>
  <li>Edit any less file in the <code>less/generated</code> folder directly</li>
</ul>
<p>These files are generated automatically and your changes will be overwritten. You have been warned.  :)</p>
<p>First clone the repo and navigate into the directory:</p>
<pre><code>git clone https://github.com/SalesforceFoundation/bootstrap-sf1.git
cd bootstrap-sf1</code></pre>
<p>Next</p>
<pre><code>npm install
bower install</code></pre>
<p>There are a number of files that are generated for you as you make changes to the less files. To facilitate this process start the grunt watch machinery with:</p>
<pre><code>grunt serve</code></pre>
<p>This will also start up a local webserver at <a href="http://localhost:8000">http://localhost:8000</a>. As you edit Less files or templates Grunt will automatically compile the CSS and HTML for the docs so long as you have <code>grunt serve</code> running.</p>