<h2 class="section-head">Custom Icons</h2>
<p>If you would rather use the numeric classes for custom icons you can do so.</p>
<p>Mouse over to view CSS classes.</p>
<ul class="docs-icon-list">
    <li>
      <span class="s1icon s1icon-c-1 s1icon-xl"></span>
      <span class="s1icon-class">s1icon s1icon-c-1</span>
    </li>
    <li>
      <span class="s1icon s1icon-c-2 s1icon-xl"></span>
      <span class="s1icon-class">s1icon s1icon-c-2</span>
    </li>
    <li>
      <span class="s1icon s1icon-c-3 s1icon-xl"></span>
      <span class="s1icon-class">s1icon s1icon-c-3</span>
    </li>
    <li>
      <span class="s1icon s1icon-c-4 s1icon-xl"></span>
      <span class="s1icon-class">s1icon s1icon-c-4</span>
    </li>
    <li>
      <span class="s1icon s1icon-c-5 s1icon-xl"></span>
      <span class="s1icon-class">s1icon s1icon-c-5</span>
    </li>
    <li>
      <span class="s1icon s1icon-c-6 s1icon-xl"></span>
      <span class="s1icon-class">s1icon s1icon-c-6</span>
    </li>
    <li>
      <span class="s1icon s1icon-c-7 s1icon-xl"></span>
      <span class="s1icon-class">s1icon s1icon-c-7</span>
    </li>
    <li>
      <span class="s1icon s1icon-c-8 s1icon-xl"></span>
      <span class="s1icon-class">s1icon s1icon-c-8</span>
    </li>
    <li>
      <span class="s1icon s1icon-c-9 s1icon-xl"></span>
      <span class="s1icon-class">s1icon s1icon-c-9</span>
    </li>
    <li>
      <span class="s1icon s1icon-c-10 s1icon-xl"></span>
      <span class="s1icon-class">s1icon s1icon-c-10</span>
    </li>
    <li>
      <span class="s1icon s1icon-c-11 s1icon-xl"></span>
      <span class="s1icon-class">s1icon s1icon-c-11</span>
    </li>
    <li>
      <span class="s1icon s1icon-c-12 s1icon-xl"></span>
      <span class="s1icon-class">s1icon s1icon-c-12</span>
    </li>
    <li>
      <span class="s1icon s1icon-c-13 s1icon-xl"></span>
      <span class="s1icon-class">s1icon s1icon-c-13</span>
    </li>
    <li>
      <span class="s1icon s1icon-c-14 s1icon-xl"></span>
      <span class="s1icon-class">s1icon s1icon-c-14</span>
    </li>
    <li>
      <span class="s1icon s1icon-c-15 s1icon-xl"></span>
      <span class="s1icon-class">s1icon s1icon-c-15</span>
    </li>
    <li>
      <span class="s1icon s1icon-c-16 s1icon-xl"></span>
      <span class="s1icon-class">s1icon s1icon-c-16</span>
    </li>
    <li>
      <span class="s1icon s1icon-c-17 s1icon-xl"></span>
      <span class="s1icon-class">s1icon s1icon-c-17</span>
    </li>
    <li>
      <span class="s1icon s1icon-c-18 s1icon-xl"></span>
      <span class="s1icon-class">s1icon s1icon-c-18</span>
    </li>
    <li>
      <span class="s1icon s1icon-c-19 s1icon-xl"></span>
      <span class="s1icon-class">s1icon s1icon-c-19</span>
    </li>
    <li>
      <span class="s1icon s1icon-c-20 s1icon-xl"></span>
      <span class="s1icon-class">s1icon s1icon-c-20</span>
    </li>
    <li>
      <span class="s1icon s1icon-c-21 s1icon-xl"></span>
      <span class="s1icon-class">s1icon s1icon-c-21</span>
    </li>
    <li>
      <span class="s1icon s1icon-c-22 s1icon-xl"></span>
      <span class="s1icon-class">s1icon s1icon-c-22</span>
    </li>
    <li>
      <span class="s1icon s1icon-c-23 s1icon-xl"></span>
      <span class="s1icon-class">s1icon s1icon-c-23</span>
    </li>
    <li>
      <span class="s1icon s1icon-c-24 s1icon-xl"></span>
      <span class="s1icon-class">s1icon s1icon-c-24</span>
    </li>
    <li>
      <span class="s1icon s1icon-c-25 s1icon-xl"></span>
      <span class="s1icon-class">s1icon s1icon-c-25</span>
    </li>
    <li>
      <span class="s1icon s1icon-c-26 s1icon-xl"></span>
      <span class="s1icon-class">s1icon s1icon-c-26</span>
    </li>
    <li>
      <span class="s1icon s1icon-c-27 s1icon-xl"></span>
      <span class="s1icon-class">s1icon s1icon-c-27</span>
    </li>
    <li>
      <span class="s1icon s1icon-c-28 s1icon-xl"></span>
      <span class="s1icon-class">s1icon s1icon-c-28</span>
    </li>
    <li>
      <span class="s1icon s1icon-c-29 s1icon-xl"></span>
      <span class="s1icon-class">s1icon s1icon-c-29</span>
    </li>
    <li>
      <span class="s1icon s1icon-c-30 s1icon-xl"></span>
      <span class="s1icon-class">s1icon s1icon-c-30</span>
    </li>
    <li>
      <span class="s1icon s1icon-c-31 s1icon-xl"></span>
      <span class="s1icon-class">s1icon s1icon-c-31</span>
    </li>
    <li>
      <span class="s1icon s1icon-c-32 s1icon-xl"></span>
      <span class="s1icon-class">s1icon s1icon-c-32</span>
    </li>
    <li>
      <span class="s1icon s1icon-c-33 s1icon-xl"></span>
      <span class="s1icon-class">s1icon s1icon-c-33</span>
    </li>
    <li>
      <span class="s1icon s1icon-c-34 s1icon-xl"></span>
      <span class="s1icon-class">s1icon s1icon-c-34</span>
    </li>
    <li>
      <span class="s1icon s1icon-c-35 s1icon-xl"></span>
      <span class="s1icon-class">s1icon s1icon-c-35</span>
    </li>
    <li>
      <span class="s1icon s1icon-c-36 s1icon-xl"></span>
      <span class="s1icon-class">s1icon s1icon-c-36</span>
    </li>
    <li>
      <span class="s1icon s1icon-c-37 s1icon-xl"></span>
      <span class="s1icon-class">s1icon s1icon-c-37</span>
    </li>
    <li>
      <span class="s1icon s1icon-c-38 s1icon-xl"></span>
      <span class="s1icon-class">s1icon s1icon-c-38</span>
    </li>
    <li>
      <span class="s1icon s1icon-c-39 s1icon-xl"></span>
      <span class="s1icon-class">s1icon s1icon-c-39</span>
    </li>
    <li>
      <span class="s1icon s1icon-c-40 s1icon-xl"></span>
      <span class="s1icon-class">s1icon s1icon-c-40</span>
    </li>
    <li>
      <span class="s1icon s1icon-c-41 s1icon-xl"></span>
      <span class="s1icon-class">s1icon s1icon-c-41</span>
    </li>
    <li>
      <span class="s1icon s1icon-c-42 s1icon-xl"></span>
      <span class="s1icon-class">s1icon s1icon-c-42</span>
    </li>
    <li>
      <span class="s1icon s1icon-c-43 s1icon-xl"></span>
      <span class="s1icon-class">s1icon s1icon-c-43</span>
    </li>
    <li>
      <span class="s1icon s1icon-c-44 s1icon-xl"></span>
      <span class="s1icon-class">s1icon s1icon-c-44</span>
    </li>
    <li>
      <span class="s1icon s1icon-c-45 s1icon-xl"></span>
      <span class="s1icon-class">s1icon s1icon-c-45</span>
    </li>
    <li>
      <span class="s1icon s1icon-c-46 s1icon-xl"></span>
      <span class="s1icon-class">s1icon s1icon-c-46</span>
    </li>
    <li>
      <span class="s1icon s1icon-c-47 s1icon-xl"></span>
      <span class="s1icon-class">s1icon s1icon-c-47</span>
    </li>
    <li>
      <span class="s1icon s1icon-c-48 s1icon-xl"></span>
      <span class="s1icon-class">s1icon s1icon-c-48</span>
    </li>
    <li>
      <span class="s1icon s1icon-c-49 s1icon-xl"></span>
      <span class="s1icon-class">s1icon s1icon-c-49</span>
    </li>
    <li>
      <span class="s1icon s1icon-c-50 s1icon-xl"></span>
      <span class="s1icon-class">s1icon s1icon-c-50</span>
    </li>
    <li>
      <span class="s1icon s1icon-c-51 s1icon-xl"></span>
      <span class="s1icon-class">s1icon s1icon-c-51</span>
    </li>
    <li>
      <span class="s1icon s1icon-c-52 s1icon-xl"></span>
      <span class="s1icon-class">s1icon s1icon-c-52</span>
    </li>
    <li>
      <span class="s1icon s1icon-c-53 s1icon-xl"></span>
      <span class="s1icon-class">s1icon s1icon-c-53</span>
    </li>
    <li>
      <span class="s1icon s1icon-c-54 s1icon-xl"></span>
      <span class="s1icon-class">s1icon s1icon-c-54</span>
    </li>
    <li>
      <span class="s1icon s1icon-c-55 s1icon-xl"></span>
      <span class="s1icon-class">s1icon s1icon-c-55</span>
    </li>
    <li>
      <span class="s1icon s1icon-c-56 s1icon-xl"></span>
      <span class="s1icon-class">s1icon s1icon-c-56</span>
    </li>
    <li>
      <span class="s1icon s1icon-c-57 s1icon-xl"></span>
      <span class="s1icon-class">s1icon s1icon-c-57</span>
    </li>
    <li>
      <span class="s1icon s1icon-c-58 s1icon-xl"></span>
      <span class="s1icon-class">s1icon s1icon-c-58</span>
    </li>
    <li>
      <span class="s1icon s1icon-c-59 s1icon-xl"></span>
      <span class="s1icon-class">s1icon s1icon-c-59</span>
    </li>
    <li>
      <span class="s1icon s1icon-c-60 s1icon-xl"></span>
      <span class="s1icon-class">s1icon s1icon-c-60</span>
    </li>
    <li>
      <span class="s1icon s1icon-c-61 s1icon-xl"></span>
      <span class="s1icon-class">s1icon s1icon-c-61</span>
    </li>
    <li>
      <span class="s1icon s1icon-c-62 s1icon-xl"></span>
      <span class="s1icon-class">s1icon s1icon-c-62</span>
    </li>
    <li>
      <span class="s1icon s1icon-c-63 s1icon-xl"></span>
      <span class="s1icon-class">s1icon s1icon-c-63</span>
    </li>
    <li>
      <span class="s1icon s1icon-c-64 s1icon-xl"></span>
      <span class="s1icon-class">s1icon s1icon-c-64</span>
    </li>
    <li>
      <span class="s1icon s1icon-c-65 s1icon-xl"></span>
      <span class="s1icon-class">s1icon s1icon-c-65</span>
    </li>
    <li>
      <span class="s1icon s1icon-c-66 s1icon-xl"></span>
      <span class="s1icon-class">s1icon s1icon-c-66</span>
    </li>
    <li>
      <span class="s1icon s1icon-c-67 s1icon-xl"></span>
      <span class="s1icon-class">s1icon s1icon-c-67</span>
    </li>
    <li>
      <span class="s1icon s1icon-c-68 s1icon-xl"></span>
      <span class="s1icon-class">s1icon s1icon-c-68</span>
    </li>
    <li>
      <span class="s1icon s1icon-c-69 s1icon-xl"></span>
      <span class="s1icon-class">s1icon s1icon-c-69</span>
    </li>
    <li>
      <span class="s1icon s1icon-c-70 s1icon-xl"></span>
      <span class="s1icon-class">s1icon s1icon-c-70</span>
    </li>
    <li>
      <span class="s1icon s1icon-c-71 s1icon-xl"></span>
      <span class="s1icon-class">s1icon s1icon-c-71</span>
    </li>
    <li>
      <span class="s1icon s1icon-c-72 s1icon-xl"></span>
      <span class="s1icon-class">s1icon s1icon-c-72</span>
    </li>
    <li>
      <span class="s1icon s1icon-c-73 s1icon-xl"></span>
      <span class="s1icon-class">s1icon s1icon-c-73</span>
    </li>
    <li>
      <span class="s1icon s1icon-c-74 s1icon-xl"></span>
      <span class="s1icon-class">s1icon s1icon-c-74</span>
    </li>
    <li>
      <span class="s1icon s1icon-c-75 s1icon-xl"></span>
      <span class="s1icon-class">s1icon s1icon-c-75</span>
    </li>
    <li>
      <span class="s1icon s1icon-c-76 s1icon-xl"></span>
      <span class="s1icon-class">s1icon s1icon-c-76</span>
    </li>
    <li>
      <span class="s1icon s1icon-c-77 s1icon-xl"></span>
      <span class="s1icon-class">s1icon s1icon-c-77</span>
    </li>
    <li>
      <span class="s1icon s1icon-c-78 s1icon-xl"></span>
      <span class="s1icon-class">s1icon s1icon-c-78</span>
    </li>
    <li>
      <span class="s1icon s1icon-c-79 s1icon-xl"></span>
      <span class="s1icon-class">s1icon s1icon-c-79</span>
    </li>
    <li>
      <span class="s1icon s1icon-c-80 s1icon-xl"></span>
      <span class="s1icon-class">s1icon s1icon-c-80</span>
    </li>
    <li>
      <span class="s1icon s1icon-c-81 s1icon-xl"></span>
      <span class="s1icon-class">s1icon s1icon-c-81</span>
    </li>
    <li>
      <span class="s1icon s1icon-c-82 s1icon-xl"></span>
      <span class="s1icon-class">s1icon s1icon-c-82</span>
    </li>
    <li>
      <span class="s1icon s1icon-c-83 s1icon-xl"></span>
      <span class="s1icon-class">s1icon s1icon-c-83</span>
    </li>
    <li>
      <span class="s1icon s1icon-c-84 s1icon-xl"></span>
      <span class="s1icon-class">s1icon s1icon-c-84</span>
    </li>
    <li>
      <span class="s1icon s1icon-c-85 s1icon-xl"></span>
      <span class="s1icon-class">s1icon s1icon-c-85</span>
    </li>    
    <li>
      <span class="s1icon s1icon-c-86 s1icon-xl"></span>
      <span class="s1icon-class">s1icon s1icon-c-86</span>
    </li>
    <li>
      <span class="s1icon s1icon-c-87 s1icon-xl"></span>
      <span class="s1icon-class">s1icon s1icon-c-87</span>
    </li>
    <li>
      <span class="s1icon s1icon-c-88 s1icon-xl"></span>
      <span class="s1icon-class">s1icon s1icon-c-88</span>
    </li>  
    <li>
      <span class="s1icon s1icon-c-89 s1icon-xl"></span>
      <span class="s1icon-class">s1icon s1icon-c-89</span>
    </li>
    <li>
      <span class="s1icon s1icon-c-90 s1icon-xl"></span>
      <span class="s1icon-class">s1icon s1icon-c-90</span>
    </li>
    <li>
      <span class="s1icon s1icon-c-91 s1icon-xl"></span>
      <span class="s1icon-class">s1icon s1icon-c-91</span>
    </li>
    <li>
      <span class="s1icon s1icon-c-92 s1icon-xl"></span>
      <span class="s1icon-class">s1icon s1icon-c-92</span>
    </li>
    <li>
      <span class="s1icon s1icon-c-93 s1icon-xl"></span>
      <span class="s1icon-class">s1icon s1icon-c-93</span>
    </li>
    <li>
      <span class="s1icon s1icon-c-94 s1icon-xl"></span>
      <span class="s1icon-class">s1icon s1icon-c-94</span>
    </li>
    <li>
      <span class="s1icon s1icon-c-95 s1icon-xl"></span>
      <span class="s1icon-class">s1icon s1icon-c-95</span>
    </li>
    <li>
      <span class="s1icon s1icon-c-96 s1icon-xl"></span>
      <span class="s1icon-class">s1icon s1icon-c-96</span>
    </li>
    <li>
      <span class="s1icon s1icon-c-97 s1icon-xl"></span>
      <span class="s1icon-class">s1icon s1icon-c-97</span>
    </li>
    <li>
      <span class="s1icon s1icon-c-98 s1icon-xl"></span>
      <span class="s1icon-class">s1icon s1icon-c-98</span>
    </li>    
    <li>
      <span class="s1icon s1icon-c-99 s1icon-xl"></span>
      <span class="s1icon-class">s1icon s1icon-c-99</span>
    </li>
    <li>
      <span class="s1icon s1icon-c-100 s1icon-xl"></span>
      <span class="s1icon-class">s1icon s1icon-c-100</span>
    </li>
  </ul>