<h2 class="section-head" >Card list</h2>
<p>You can also display grouped lists of cards.</p>
<div class="fn-example">
  <div class="col-md-4">
    <div class="card-list">
      <div class="card-list-heading">
        <h3>Organizations</h3>
      </div>
      <div class="card">
        <div class="card-heading">
          ACME Publishing
        </div>
        <ul class="card-detail ">
          <li>Nonprofit Organization</li>
          <li>Santa Barbara, CA</li>
        </ul>
      </div> <!-- end card -->
      <div class="card">
        <div class="card-heading">
          Save the Cats
        </div>
        <ul class="card-detail ">
          <li>Nonprofit Organization</li>
          <li>Santa Barbara, CA</li>
        </ul>
      </div> <!-- end card -->
    </div> <!-- end card list -->
  </div>
</div>
<pre>
  <code class="language-html">
&lt;div class=&quot;card-list&quot;&gt;
  &lt;div class=&quot;card-list-heading&quot;&gt;
    &lt;h3&gt;Organizations&lt;/h3&gt;
  &lt;/div&gt;
  &lt;div class=&quot;card&quot;&gt;
    &lt;div class=&quot;card-heading&quot;&gt;
      ACME Publishing
    &lt;/div&gt;
    &lt;ul class=&quot;card-detail &quot;&gt;
      &lt;li&gt;Nonprofit Organization&lt;/li&gt;
      &lt;li&gt;Santa Barbara, CA&lt;/li&gt;
    &lt;/ul&gt;
  &lt;/div&gt; &lt;!-- end card --&gt;
  &lt;div class=&quot;card&quot;&gt;
    &lt;div class=&quot;card-heading&quot;&gt;
      Save the Cats
    &lt;/div&gt;
    &lt;ul class=&quot;card-detail &quot;&gt;
      &lt;li&gt;Nonprofit Organization&lt;/li&gt;
      &lt;li&gt;Santa Barbara, CA&lt;/li&gt;
    &lt;/ul&gt;
  &lt;/div&gt; &lt;!-- end card --&gt;
&lt;/div&gt; &lt;!-- end card list --&gt;
    </code>
  </pre>
  <h3 id="card-list-links">Linked Cards</h3>
  <div class="fn-example">
    <div class="card-list context-account">
      <div class="card-list-heading">
        <h3>Organizations</h3>
      </div>
    <a href="#" class="card">
      <div class="card-heading">
        ACME Publishing
      </div>
      <ul class="card-detail ">
        <li>Nonprofit Organization</li>
        <li>Santa Barbara, CA</li>
      </ul>
    </a> <!-- end card -->
    <a href="#" class="card">
      <div class="card-heading">
        Save the Cats
      </div>
      <ul class="card-detail ">
        <li>Nonprofit Organization</li>
        <li>Santa Barbara, CA</li>
      </ul>
    </a> <!-- end card -->
  </div> <!-- end card list -->
</div>

<pre>
  <code class="language-html">
&lt;div class=&quot;card-list context-account&quot;&gt;
  &lt;div class=&quot;card-list-heading&quot;&gt;
    &lt;h3&gt;Organizations&lt;/h3&gt;
  &lt;/div&gt;
  &lt;a href=&quot;#&quot; class=&quot;card&quot;&gt;
    &lt;div class=&quot;card-heading&quot;&gt;
      ACME Publishing
    &lt;/div&gt;
    &lt;ul class=&quot;card-detail &quot;&gt;
      &lt;li&gt;Nonprofit Organization&lt;/li&gt;
      &lt;li&gt;Santa Barbara, CA&lt;/li&gt;
    &lt;/ul&gt;
  &lt;/a&gt; &lt;!-- end card --&gt;
  &lt;a href=&quot;#&quot; class=&quot;card&quot;&gt;
    &lt;div class=&quot;card-heading&quot;&gt;
      Save the Cats
    &lt;/div&gt;
    &lt;ul class=&quot;card-detail &quot;&gt;
      &lt;li&gt;Nonprofit Organization&lt;/li&gt;
      &lt;li&gt;Santa Barbara, CA&lt;/li&gt;
    &lt;/ul&gt;
  &lt;/a&gt; &lt;!-- end card --&gt;
&lt;/div&gt; &lt;!-- end card list --&gt;
  </code>
</pre>
<h3 id="card-list-contexts">Contexts on Card Lists</h3>
<p>Context classes can also be added to card lists. Adding the context class to the list will add icons to all of the cards within it.</p>
<div class="fn-example">
  <div class="col-md-4">
    <div class="card-list context-account">
      <div class="card-list-heading">
        <h3>Organizations</h3>
      </div>
      <div class="card">
        <div class="card-heading">
          ACME Publishing
        </div>
        <ul class="card-detail ">
          <li>Nonprofit Organization</li>
          <li>Santa Barbara, CA</li>
        </ul>
      </div> <!-- end card -->
      <div class="card">
        <div class="card-heading">
          Save the Cats
        </div>
        <ul class="card-detail ">
          <li>Nonprofit Organization</li>
          <li>Santa Barbara, CA</li>
        </ul>
      </div> <!-- end card -->
    </div> <!-- end card list -->
  </div>
  <div class="col-md-4">
    <div class="card-list context-lead">
      <div class="card-list-heading">
        <h3>Organizations</h3>
      </div>
      <div class="card">
        <div class="card-heading">
          ACME Publishing
        </div>
        <ul class="card-detail ">
          <li>Nonprofit Organization</li>
          <li>Santa Barbara, CA</li>
        </ul>
      </div> <!-- end card -->
      <div class="card">
        <div class="card-heading">
          Save the Cats
        </div>
        <ul class="card-detail ">
          <li>Nonprofit Organization</li>
          <li>Santa Barbara, CA</li>
        </ul>
      </div> <!-- end card -->
    </div> <!-- end card list -->
  </div>
  <div class="col-md-4">
    <div class="card-list context-c-bridge">
      <div class="card-list-heading">
        <h3>Organizations</h3>
      </div>
      <div class="card">
        <div class="card-heading">
          ACME Publishing
        </div>
        <ul class="card-detail ">
          <li>Nonprofit Organization</li>
          <li>Santa Barbara, CA</li>
        </ul>
      </div> <!-- end card -->
      <div class="card">
        <div class="card-heading">
          Save the Cats
        </div>
        <ul class="card-detail ">
          <li>Nonprofit Organization</li>
          <li>Santa Barbara, CA</li>
        </ul>
      </div> <!-- end card -->
    </div> <!-- end card list -->
  </div>
</div>

<pre>
  <code class="language-html">
&lt;div class=&quot;card-list context-account&quot;&gt;
  &lt;div class=&quot;card-list-heading&quot;&gt;
    &lt;h3&gt;Organizations&lt;/h3&gt;
  &lt;/div&gt;
  &lt;div class=&quot;card&quot;&gt;
    &lt;div class=&quot;card-heading&quot;&gt;
      ACME Publishing
    &lt;/div&gt;
    &lt;ul class=&quot;card-detail &quot;&gt;
      &lt;li&gt;Nonprofit Organization&lt;/li&gt;
      &lt;li&gt;Santa Barbara, CA&lt;/li&gt;
    &lt;/ul&gt;
  &lt;/div&gt; &lt;!-- end card --&gt;
  &lt;div class=&quot;card&quot;&gt;
    &lt;div class=&quot;card-heading&quot;&gt;
      Save the Cats
    &lt;/div&gt;
    &lt;ul class=&quot;card-detail &quot;&gt;
      &lt;li&gt;Nonprofit Organization&lt;/li&gt;
      &lt;li&gt;Santa Barbara, CA&lt;/li&gt;
    &lt;/ul&gt;
  &lt;/div&gt;
&lt;/div&gt;

&lt;div class=&quot;card-list context-lead&quot;&gt;
  &lt;div class=&quot;card-list-heading&quot;&gt;
    &lt;h3&gt;Organizations&lt;/h3&gt;
  &lt;/div&gt;
  &lt;div class=&quot;card&quot;&gt;
    &lt;div class=&quot;card-heading&quot;&gt;
      ACME Publishing
    &lt;/div&gt;
    &lt;ul class=&quot;card-detail &quot;&gt;
      &lt;li&gt;Nonprofit Organization&lt;/li&gt;
      &lt;li&gt;Santa Barbara, CA&lt;/li&gt;
    &lt;/ul&gt;
  &lt;/div&gt; &lt;!-- end card --&gt;
  &lt;div class=&quot;card&quot;&gt;
    &lt;div class=&quot;card-heading&quot;&gt;
      Save the Cats
    &lt;/div&gt;
    &lt;ul class=&quot;card-detail &quot;&gt;
      &lt;li&gt;Nonprofit Organization&lt;/li&gt;
      &lt;li&gt;Santa Barbara, CA&lt;/li&gt;
    &lt;/ul&gt;
  &lt;/div&gt;
&lt;/div&gt;

&lt;div class=&quot;card-list context-c-bridge&quot;&gt;
  &lt;div class=&quot;card-list-heading&quot;&gt;
    &lt;h3&gt;Organizations&lt;/h3&gt;
  &lt;/div&gt;
  &lt;div class=&quot;card&quot;&gt;
    &lt;div class=&quot;card-heading&quot;&gt;
      ACME Publishing
    &lt;/div&gt;
    &lt;ul class=&quot;card-detail &quot;&gt;
      &lt;li&gt;Nonprofit Organization&lt;/li&gt;
      &lt;li&gt;Santa Barbara, CA&lt;/li&gt;
    &lt;/ul&gt;
  &lt;/div&gt; &lt;!-- end card --&gt;
  &lt;div class=&quot;card&quot;&gt;
    &lt;div class=&quot;card-heading&quot;&gt;
      Save the Cats
    &lt;/div&gt;
    &lt;ul class=&quot;card-detail &quot;&gt;
      &lt;li&gt;Nonprofit Organization&lt;/li&gt;
      &lt;li&gt;Santa Barbara, CA&lt;/li&gt;
    &lt;/ul&gt;
  &lt;/div&gt; &lt;!-- end card --&gt;
&lt;/div&gt; &lt;!-- end card list --&gt;
  </code>
</pre>