<pre>function preFormatting() {  // looks like this;  var something = somethingElse;  return true;}</pre>
<div class="well" id="wells">Default Well</div>
<div class="well well-sm">Small Well</div>
<div class="well well-lg">Large Padding Well</div>