<h2 class="section-head">Utility Icons</h2>
<p>These are font based icons that can be used similar to the Glyphicons in Bootstrap.</p>
<ul class="docs-icon-list">
  <li>
    <span class="s1utility s1utility-success"></span>
    <span class="s1utility-class">s1utility s1utility-success</span>
  </li>
  <li>
    <span class="s1utility s1utility-attach"></span>
    <span class="s1utility-class">s1utility s1utility-attach</span>
  </li>
  <li>
    <span class="s1utility s1utility-bookmark"></span>
    <span class="s1utility-class">s1utility s1utility-bookmark</span>
  </li>
  <li>
    <span class="s1utility s1utility-call"></span>
    <span class="s1utility-class">s1utility s1utility-call</span>
  </li>
  <li>
    <span class="s1utility s1utility-chat"></span>
    <span class="s1utility-class">s1utility s1utility-chat</span>
  </li>
  <li>
    <span class="s1utility s1utility-checkin"></span>
    <span class="s1utility-class">s1utility s1utility-checkin</span>
  </li>
  <li>
    <span class="s1utility s1utility-chevronleft"></span>
    <span class="s1utility-class">s1utility s1utility-chevronleft</span>
  </li>
  <li>
    <span class="s1utility s1utility-chevronright"></span>
    <span class="s1utility-class">s1utility s1utility-chevronright</span>
  </li>
  <li>
    <span class="s1utility s1utility-close"></span>
    <span class="s1utility-class">s1utility s1utility-close</span>
  </li>
  <li>
    <span class="s1utility s1utility-down"></span>
    <span class="s1utility-class">s1utility s1utility-down</span>
  </li>
  <li>
    <span class="s1utility s1utility-download"></span>
    <span class="s1utility-class">s1utility s1utility-download</span>
  </li>
  <li>
    <span class="s1utility s1utility-email"></span>
    <span class="s1utility-class">s1utility s1utility-email</span>
  </li>
  <li>
    <span class="s1utility s1utility-groups"></span>
    <span class="s1utility-class">s1utility s1utility-groups</span>
  </li>
  <li>
    <span class="s1utility s1utility-image"></span>
    <span class="s1utility-class">s1utility s1utility-image</span>
  </li>
  <li>
    <span class="s1utility s1utility-left"></span>
    <span class="s1utility-class">s1utility s1utility-left</span>
  </li>
  <li>
    <span class="s1utility s1utility-like"></span>
    <span class="s1utility-class">s1utility s1utility-like</span>
  </li>
  <li>
    <span class="s1utility s1utility-link"></span>
    <span class="s1utility-class">s1utility s1utility-link</span>
  </li>
  <li>
    <span class="s1utility s1utility-list"></span>
    <span class="s1utility-class">s1utility s1utility-list</span>
  </li>
  <li>
    <span class="s1utility s1utility-location"></span>
    <span class="s1utility-class">s1utility s1utility-location</span>
  </li>
  <li>
    <span class="s1utility s1utility-logout"></span>
    <span class="s1utility-class">s1utility s1utility-logout</span>
  </li>
  <li>
    <span class="s1utility s1utility-people"></span>
    <span class="s1utility-class">s1utility s1utility-people</span>
  </li>
  <li>
    <span class="s1utility s1utility-photo"></span>
    <span class="s1utility-class">s1utility s1utility-photo</span>
  </li>
  <li>
    <span class="s1utility s1utility-reply"></span>
    <span class="s1utility-class">s1utility s1utility-reply</span>
  </li>
  <li>
    <span class="s1utility s1utility-right"></span>
    <span class="s1utility-class">s1utility s1utility-right</span>
  </li>
  <li>
    <span class="s1utility s1utility-up"></span>
    <span class="s1utility-class">s1utility s1utility-up</span>
  </li>
  <li>
    <span class="s1utility s1utility-upload"></span>
    <span class="s1utility-class">s1utility s1utility-upload</span>
  </li>
  <li>
    <span class="s1utility s1utility-user"></span>
    <span class="s1utility-class">s1utility s1utility-user</span>
  </li>
  <li>
    <span class="s1utility s1utility-filter"></span>
    <span class="s1utility-class">s1utility s1utility-filter</span>
  </li>
  <li>
    <span class="s1utility s1utility-help"></span>
    <span class="s1utility-class">s1utility s1utility-help</span>
  </li>
  <li>
    <span class="s1utility s1utility-error"></span>
    <span class="s1utility-class">s1utility s1utility-error</span>
  </li>
  <li>
    <span class="s1utility s1utility-warning"></span>
    <span class="s1utility-class">s1utility s1utility-warning</span>
  </li>
  <li>
    <span class="s1utility s1utility-adduser"></span>
    <span class="s1utility-class">s1utility s1utility-adduser</span>
  </li>
  <li>
    <span class="s1utility s1utility-add"></span>
    <span class="s1utility-class">s1utility s1utility-add</span>
  </li>
  <li>
    <span class="s1utility s1utility-edit"></span>
    <span class="s1utility-class">s1utility s1utility-edit</span>
  </li>
  <li>
    <span class="s1utility s1utility-back"></span>
    <span class="s1utility-class">s1utility s1utility-back</span>
  </li>
  <li>
    <span class="s1utility s1utility-lock"></span>
    <span class="s1utility-class">s1utility s1utility-lock</span>
  </li>
  <li>
    <span class="s1utility s1utility-info"></span>
    <span class="s1utility-class">s1utility s1utility-info</span>
  </li>
  <li>
    <span class="s1utility s1utility-frozen"></span>
    <span class="s1utility-class">s1utility s1utility-frozen</span>
  </li>
  <li>
    <span class="s1utility s1utility-spinner"></span>
    <span class="s1utility-class">s1utility s1utility-spinner</span>
  </li>
  <li>
    <span class="s1utility s1utility-news"></span>
    <span class="s1utility-class">s1utility s1utility-news</span>
  </li>
  <li>
    <span class="s1utility s1utility-dash"></span>
    <span class="s1utility-class">s1utility s1utility-dash</span>
  </li>
  <li>
    <span class="s1utility s1utility-question"></span>
    <span class="s1utility-class">s1utility s1utility-question</span>
  </li>
  <li>
    <span class="s1utility s1utility-refresh"></span>
    <span class="s1utility-class">s1utility s1utility-refresh</span>
  </li>
  <li>
    <span class="s1utility s1utility-socialshare"></span>
    <span class="s1utility-class">s1utility s1utility-socialshare</span>
  </li>
  <li>
    <span class="s1utility s1utility-priority"></span>
    <span class="s1utility-class">s1utility s1utility-priority</span>
  </li>
  <li>
    <span class="s1utility s1utility-search"></span>
    <span class="s1utility-class">s1utility s1utility-search</span>
  </li>
  <li>
    <span class="s1utility s1utility-rows"></span>
    <span class="s1utility-class">s1utility s1utility-rows</span>
  </li>
  <li>
    <span class="s1utility s1utility-event"></span>
    <span class="s1utility-class">s1utility s1utility-event</span>
  </li>
  <li>
    <span class="s1utility s1utility-settings"></span>
    <span class="s1utility-class">s1utility s1utility-settings</span>
  </li>
  <li>
    <span class="s1utility s1utility-check"></span>
    <span class="s1utility-class">s1utility s1utility-check</span>
  </li>
  <li>
    <span class="s1utility s1utility-notification"></span>
    <span class="s1utility-class">s1utility s1utility-notification</span>
  </li>
  <li>
    <span class="s1utility s1utility-share"></span>
    <span class="s1utility-class">s1utility s1utility-share</span>
  </li>
  <li>
    <span class="s1utility s1utility-favorite"></span>
    <span class="s1utility-class">s1utility s1utility-favorite</span>
  </li>
  <li>
    <span class="s1utility s1utility-sms"></span>
    <span class="s1utility-class">s1utility s1utility-sms</span>
  </li>
  <li>
    <span class="s1utility s1utility-push"></span>
    <span class="s1utility-class">s1utility s1utility-push</span>
  </li>
</ul>